.name{
    background-color: aqua;
}
.profession{
    background-color: chartreuse;
}
.Experienced{
    background-color: lightcoral;
}
.education{
    background-color: yellow;
}
.Skills{
    background-color: palevioletred;
}
